<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Contraseña de [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Contraseña Actualizada!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Error!</strong> La contraseña no ha cambiado.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Las contraseñas no coinciden!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nueva contraseña"
                           ng-model="vm.password" ng-minlength=8 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Contraseña requerida.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Minimo 8 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Maximo 50 caracteres.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirma nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Nueva contraseña"
                           ng-model="vm.confirmPassword" ng-minlength=8 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Confirmacion requerida.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Minimo 8 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Maximo 50 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
